Repository rancher/k3os, pull requests merged in 2019-10, with the labels that each got.

#177 Improve packer build for Vagrant
  .gitignore
  package/packer/vagrant/README.md
  package/packer/vagrant/Vagrantfile
  package/packer/vagrant/cloud-config.yml
  package/packer/vagrant/vagrant.json
  package/packer/vagrant/vagrantfile.template
Labels: area/virtualization

#206 package: fix the packer aws template for arm64
  package/packer/aws/template-arm64.json
Labels: area/cloud

#209 k3s: v0.9.1
  images/01-k3s/Dockerfile
  images/06-iso/run-kvm.sh
  scripts/run-qemu
Labels: area/k3s

#219 Upgrade script
  overlay/sbin/k3os-upgrade-rootfs
Labels: area/upgrade

#223 kernel: 4.15.0-65.74-rancher1
  images/01-kernel-stage1/Dockerfile
Labels: area/kernel

#229 update readme for manual updates
  README.md
Labels: area/documentation, area/upgrade

#225 Kernel upgrade script
  overlay/sbin/k3os-upgrade-kernel
Labels: area/kernel, area/upgrade

#250 k3OS OpenStack Packer Template
  package/packer/openstack/README.md
  package/packer/openstack/openstack.yaml
  package/packer/openstack/template-arm64.json
  package/packer/openstack/template.json
Labels: area/cloud, area/virtualization

#243 latest k3s 0.10.1
  images/01-k3s/Dockerfile
Labels: area/k3s
